.heading{
  height:120px;
  background-color: rgb(101, 187, 187);
  color: #8b2929;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
width:100;
}

.input-group input,.input-group button{
  margin-top:40px;
  margin-bottom: 20px;
}

.input-group button{
  color:rgb(175, 37, 37);
  margin-left: 5p;
}
tr{
  flex-wrap: wrap;
  display: flex;
}

td{
  font-size:20px;
  width:100%;

}
td button{
  float: right;
  text-align: right;
  color:rgb(161, 58, 58);
}






